<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Fondamento&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'battle_manager/style.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static '/battle_manager/images/favicon.png' %}"/>
    <title>Battle Manager Home</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand" href="{% url 'battle_manager:battle_manager' %}">Home</a>
        <a class="navbar-brand" href="{% url 'battle_manager:generate' %}">Create Battle</a>
        <input class="form-control mr-sm-2" type="number" placeholder="Enter a Battle Number Here" id="battle_id"
            required>
        <button class="btn btn-primary" type="submit" id="join_battle">Join Battle!</button>
    </nav>
    <div class="h1 text-center">Welcome to AOS Battle Manager!</div>
    <div class="container main-body" style="margin: 1vw;">
        <div class="row row-no-gutters">
            <div class="col-sm-8">
                {% for Post in Posts %}
                <div class="card-body">
                    <h3 class="card-title">{{ Post.title }}</h3>
                    <p class="card-text text-muted h6">{{ Post.author }} | {{ Post.created_on}} </p>
                    <p class="card-text">{{Post.content}}</p>
                </div>
                {% endfor %}
            </div>


            <div class="col-sm-4 float-right">
                <div class="card my-4">
                    <h5 class="card-header">What is This?</h5>
                    <div class="card-body">
                        <p class="card-text"> AOS Battle Manager is a web application borne of my desire to not carry 4
                            books to every game of Age of Sigmar. It allows you create battles and displays all relavent
                            information on a single page. To goto a battle already created, enter it's battle ID in the
                            search bar at the top.
                            <br>If you have any suggestions or find any bugs, you can reach me at
                            admin@aosbattlemanger.com.
                            I hope you enjoy, and don't play Ironjawz!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script>
        join_battle.addEventListener('click', function () {
            battle_id = document.querySelector('#battle_id').value
            window.location = "/battle_manager/battle/" + battle_id
        })
    </script>
</body>

</html>