<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'battle_manager/style.css' %}">
    <title>Generate Battle</title>
</head>

<body>
    <form method="POST" action="{% url 'battle_manager:create_battle' %}">
        {% csrf_token %}
        <select id="select_battle_type" name="battle_type">
            {% for type in Types %}
            <option class="dropdown-item" value="{{type.id}}">{{type.name}}</option>
            {% endfor %}
        </select>

        <select id="select_battle_plan" name="battle_plan">
        </select>

        <select id="select_realm" name="realm">
            {% for realm in Realms %}
            <option class="dropdown-item" value="{{realm.id}}">{{realm.name}}</option>
            {% endfor %}
        </select>

        <select id="select_realm_feature"  name="realm_feature">
        </select>

        <div>
            Number of Terrain Features: <input type="number" id="quantity" name="terrain" min="0" max="20">
        </div>

        <button type="submit" class="btn btn-info btn-lg"> Generate Battle!</button>
    </form>

    {% for battle in Battles %}
    {% endfor %}
        <script>
            let select_battle_type = document.querySelector('#select_battle_type')
            let select_battle_plan = document.querySelector('#select_battle_plan')
            let select_realm = document.querySelector('#select_realm')
            let select_realm_feature = document.querySelector('#select_realm_feature')

            select_battle_type.addEventListener('change', function() {
                axios({
                    method: 'get',
                    url: "{% url 'battle_manager:get_battle_plans' %}",
                    params: {
                        battle_type_id: select_battle_type.value
                    }
                }).then(response => {
                    console.log(response.data)
                    select_battle_plan.innerHTML = ''
                    let battle_plans = response.data.battle_plans
                    for (let i=0; i< battle_plans.length; ++i){
                        let option = document.createElement('option')
                        option.setAttribute('value', battle_plans[i].id)
                        option.innerText = `${battle_plans[i].name} - ${battle_plans[i].source}`
                        select_battle_plan.appendChild(option)
                        }
                    })
                })
    
            select_realm.addEventListener('change', function() {
                axios({
                    method: 'get',
                    url: "{% url 'battle_manager:get_realm_features' %}",
                    params: {
                        realm_id: select_realm.value
                    }
                }).then(response => {
                    console.log(response.data)
                    select_realm_feature.innerHTML = ''
                    let realm_features = response.data.realm_features
                    for (let i=0; i<realm_features.length; ++i){
                        let option = document.createElement('option')
                        option.setAttribute('value', realm_features[i].id)
                        option.innerText = realm_features[i].name
                        select_realm_feature.appendChild(option)
                        }
                    })
                })
        </script>
</body>

</html>